@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookie-consent" role="alert">
        Use this space to summarize your privacy and cookie use policy.
        <a asp-page="/Privacy">Learn More</a>.
        <button type="button" aria-label="Close" data-cookie-string="@cookieString">
            <span>Accept</span>
        </button>
    </div>
    <script>
        (() => {
            const button = document.querySelector("#cookie-consent button");
            button.addEventListener("click", (event) => {
                const cookieConsent = document.getElementById('cookie-consent');
                if (cookieConsent) {
                    cookieConsent.parentNode.removeChild(cookieConsent);
                }
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
