<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Documentation</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a asp-page="/Index">Documentation</a>
            <ul>
                <li><a asp-page="/Index">Home</a></li>
                <li><a asp-page="/Privacy">Privacy</a></li>
            </ul>
        </nav>
        <partial name="_CookieConsentPartial" />
    </header>

    <main role="main">
        @RenderBody()
        <partial name="CodeSamples/_Call" />
    </main>

    <footer>
        &copy; 2019 - Documentation - <a asp-page="/Privacy">Privacy</a>
    </footer>
    <script src="~/js/site.js" asp-append-version="true" defer></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
